
header {
    background-color: #863be9;
    border-bottom: #5618a7 16px solid ;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}

header button {
    margin: 30px;
    padding: 5px 5px;
    font-size: 15px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none ;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 10px;
}

button {
    background-color: #009432;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#botao-cancelar {
    background-color: #f44336; /* Red */
}

li {
    list-style: none;
    padding: 0;
    font-family: suse mono;
    align-items: center;
    gap: 8px;
    display: flex;
}

.feito {
    text-decoration: line-through;
    color: #747373;
}