body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #7f4bc4;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #9762bb;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-brand {
    font-family: Pacifico, cursive;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}


#servicos,
#fale-conosco {
    background-color: #cdc0d1;
}

.text-colored {
    color: #b648ff;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #924be2   ;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li {
    list-style: none;
    display: inline;

}

.social-links a {
    text-decoration: none;
}

#servicos img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

#carousel img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
    
}



@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    
}